<div class="resumo">
    <p class='texto-resumo'>Chave para abertura de conta</p>

    <div class='componente-pergunta'>
        <div class="ui fluid action input">
            <input [(ngModel)]='token' type="text" [readonly]="true" #chave>

            <button class="ui teal right icon button" (click)="copyInputMessage(chave)">
                <i class="copy icon"></i>
            </button>
        </div>

        <div class="ui fluid card">
            <div class="content">
                <a class="header">Resumo</a>
                
                <div class="description">
                    <ol class="ui list">
                        <li value="*">Nome do Cliente: {{nomeCliente}}</li>
                        <li value="*">CNPJ do Cliente: {{cpfCliente}}</li>
                        <li value="*">Instituição de Destino: {{nomeBanco}}</li>
                        <li value="*">Valor a Transferir: {{valorTranferencia}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
