<div class="ui fluid vertical menu">
    <a class="item">
      <h4 class="ui header">Dados pessoais</h4>
      <p>Gerencie suas informações pessoais</p>
    </a>
    <a class="item">
      <h4 class="ui header">Gonfigurações do App</h4>
      <p>Personalize seu aplicativo Safra</p>
    </a>
    <a class="item">
      <h4 class="ui header">Cartão Safra</h4>
      <p>Gerencie as informações do seu cartão</p>
    </a>
    <a class="item">
        <h4 class="ui header">Segurança</h4>
        <p>Configure suas senhas e token</p>
      </a>
      <a class="item">
        <h4 class="ui header">Avaliação do aplicativo</h4>
        <p>Avalie nosso app :)</p>
      </a>
      <a class="item">
        <h4 class="ui header">Cartão Safra</h4>
        <p>Gerencie as informações do seu cartão</p>
      </a>
      <a class="item">
        <h4 class="ui header">Termos de Uso</h4>
        <p>Conheça nossos termos de uso</p>
      </a>
      <a routerLink="/portabilidade/perguntas" class="item">
        <h4 class="ui header">Portabilidade de conta</h4>
        <p>Transfira sua conta digital para outro banco</p>
      </a>
  </div>