<div class='logo-safra'></div>

<div class="login-area">
    <div class="login-agencia">
        <div class="ui fluid input">
            <input type="text" placeholder="Agência">
        </div>
    </div>
    
    <div class="login-conta">
        <div class="ui fluid input">
            <input type="text" placeholder="Conta">
        </div>
    </div>

    <div class="login-senha">
        <div class="ui fluid input">
            <input type="password" placeholder="Senha">
        </div>
    </div>

    <div class="login-button">
        <button class="ui fluid blue button">Login</button>
    </div>

    <div class="login-button">
        <button class="ui fluid facebook button">Abrir conta</button>
    </div>
</div>
