<div class='logo-safra'></div>

<div class="login-area">
    <div class="login-agencia">
        <div class="ui fluid input">
            <input type="text" placeholder="Agência" [(ngModel)]="agencia">
        </div>
    </div>
    
    <div class="login-conta">
        <div class="ui fluid input">
            <input type="text" placeholder="Conta" [(ngModel)]="conta">
        </div>
    </div>

    <div class="login-senha">
        <div class="ui fluid input">
            <input type="password" placeholder="Senha" [(ngModel)]="senha">
        </div>
    </div>

    <div class="login-button">
        <button [disabled]="validarCampos()" [routerLink]="['/home']" class="ui fluid blue button">Login</button>
    </div>

    <div class="login-button">
        <button [routerLink]="['/abertura-conta']" class="ui fluid facebook button">Abrir conta</button>
    </div>
</div>
