<div class="ui fluid card">
    <div class="content">
        <a class="header">José</a>
        
        <div class="meta">
            <span class="date">C/C - 55891</span>
        </div>
        
        <div class="description">
            Saldo em conta: R$30.000
        </div>
    </div>

    <div class="extra content">
        <a>
            <i class="money bill alternate icon"></i>
            Ver investimentos
        </a>
    </div>
</div>

<div class="ui fluid card">
    <div class="content">
        <div class="ui embed" data-source="youtube" data-id="MniZY6YgHtk">
        </div>
    </div>

    <div class="extra content">
        <i class="video icon"></i>
        Assista ao Morning Call do Safra e conheça os destaques no mundo da economia e dos investimentos.
    </div>
</div>