:host {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.logo-safra {
    width: 100%;
    height: 25%;
    margin-top: 5%;
    background-image: url(/assets/logo-azul-safra.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.titulo-portabilidade {
    width: 90%;
    height: 5%;
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    vertical-align: bottom;
}